.navbar{
	position: fixed;
	width: 100%;
	z-index: 3;
}

.navbar-inverse, .nav-wrapper {
    background-color: #0284a8 !important ;
    border-color: #0284a8 !important;
}
#btnreg, #btnlog{
	background-color: #0284a8 !important ;
}
#accept{
	background-color: #0284a8 !important ;

}
#cancel{
		background-color: #ac2925 !important ;
}

#cancel:hover{
		background-color: black !important ;
}
body{
	background:#f0f0f0;

}
.navbar-inverse .navbar-brand {
    color: #0a0505 !important;
}
#size{
	width: 30% !important;
}

/*.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff !important;
    background-color: #0a3313 !important;
}*/

.navbar-inverse .navbar-nav>li>a {
    color: #0e0909 !important;
}

/*.navbar-inverse .navbar-brand:hover {
    color: white !important;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: white !important;
    background-color: #0a3313 !important;
    z-index: 1;
}*/
#container{
	width: 99.9%;
	height: auto;
	background:#f0f0f0;
}


#contentprofile{
	position: relative;
width: 99.9%;
height: auto;
/*top: -100px;*/
display:  flex !important;
justify-content: space-between;
border: 1px solid #ccd9ce;

}


#contentsetings{
		position: relative;
width: 99.9%;
height: auto;
/*top: -100px;*/
display:  flex !important;
justify-content: space-between;
}
#content{
position: relative;
width: 99.9%;
height: auto;
top: -100px;
display:  flex !important;
justify-content: space-between;
}

#right{
	border-left: 1px solid  #9ac0ba;
	
	width:275px;
	height: auto;

}
#center{
	/*border:1px solid;*/
	width:700px;
	height: auto;

}
#left{
	/*display: flex;*/
	/*border:1px solid;*/
	width:310px;
	height: auto;

}

#box1,#box2{
	position: relative;
	top:150px;
	height: auto
}
#box2{
	width: 200px;
}
#box3,#box4{
	position: absolute;
	width: auto;
	height: auto;    
	left: -400px;
}
#box3{
	display: none;
}
.row{

	margin-bottom: 1px !important;
	margin-top: 1px !important;

}
#icon{
	position:  relative;
	width: 600px;
	height: 600px;
	
}
#pcon{
	position:  relative;
	
	left:30px;
	font-size:30px;
}
#footer{
	position: relative;
	width: 99.9%;
	height: auto;
	/*top:200px;*/
	display: flex;
	justify-content: center;
	background:#ffffff00;

}
#footbox1,#footbox2{
	position: relative;
	margin:10px;
	width: 500px;
	height: auto;
	background:#ffffff00;
}


#s_req{
    position: absolute;
    background-color: white;
    top: 44px;
    left: 15px;
    width: 174px;
}
.inp{
	height: 35px !important;
}

#req_in {
    position: absolute;
    background-color: #0284a8 !important;
	top: 64px;
    left: 920px;
    width: 300px;
    height: auto;
    z-index: 5;
    padding: 15px;
    border-radius:  0 0 60px 60px !important;

}

#sp{

	color: #af7404 !important;
}
.sp{
	padding: 0 !important;
	margin:1px !important;
}

.col {
		line-height: 40px !important;

}
a {
    color: black !important;
    text-decoration: none;
}
#num{
    position: absolute!important;
    color: #CDDC39 !important;
    top: 26px !important;
    left: 1005px !important;
}

#num:hover{

	 color: white !important;

	}


.img{
	width: 100px;
	height: 100px;
}

.posts{
	position: relative;
	width:auto;
	height: auto;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	margin:20px;
}

.inp{
	width: 400px;
}
.delete_post{
	display: flex;
	justify-content: center;
	align-items:flex-start;
	width:15px;
	height: 30px;
	align-self: flex-end;
	background-color: red;
	height: 24px;
    line-height: 24px;
    padding: 0 0.75rem;
    margin: 1px;
    border-radius:20px;
}


.delete_comment, .delete_friend{
	display: flex;
	justify-content: center;
	align-items:center;
	width:15px !important;
	height: 30px !important;
	font-size:8px !important;
	align-self: flex-end;
	flex-direction: row;
	background-color: red;
	height: 24px;
    line-height: 24px;
    padding: 0 0.75rem;
    margin: 1px;

}

#str{
width: 100px;


}
/*.comments{
	display: flex;
	justify-content: center;
	align-items:flex-start;
}*/
.btn-small {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
    margin: 1px;
}

.comments{
	width: 95% !important;
	background-color: #9ac0ba;
	height: auto;
	opacity: 0.8;
	border:1px 0 0 1px solid black;
	border-radius:25px 25px  65px 65px;
}


#profImage{

	width:200px;
	height: 200px;
	object-fit: contain !important;

}
.name{
	position: relative;
	display: flex;
	justify-content: center;
	width:100% !important;
	background-color: #9ac0ba;
	border:1px 0 0 1px solid black;
	border-radius:25px 25px  65px 65px;
}
.name:hover{
	
	background-color: white;
	color:black;
	cursor: pointer;

}

#profileImage, #profileName{
position: relative;
display: flex;
	justify-content: center;
	align-items:center;
	flex-direction: column

}

.hidden{
	    display: none !important;

}
.chat{
    border: 1px solid #ccd9ce;
    position: fixed;
    right: 278px;
    width: 250px;
    height: 200px;
    bottom: 0px;
    background:#9ac0ba;
    display: none;
    opacity: 0.8;
    z-index: 10;
}
/*.chatText{
	overflow: auto;
}*/

.chatName,.closeChat{
	border:1px solid;
	width:100px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.messages{
	border:1px solid;
	width:100%;
	height: 70%;
	overflow: auto;
}
.footer{
	border:1px solid;
	width:100%;
	height: 16%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.senderBtn{
	/*border:1px solid;*/
	height: 70%;
display: flex;
	justify-content: center;
	align-items: center;
}
/*.friendSettings{

}*/
/*.show{

	width:100px;
}*/
.message{
	height: 25px !important;
}
.friendName:hover{
	background-color: white;
	color:black;
	cursor: pointer;
}